body {
    background-image: url(../photo/9.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.create {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-image: url(9.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black, -1px -1px 1px 1px #d7d7d7;
    width: 370px;
    height: 425px;
}

.q {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: -1px;
    font-family: cursive;
    position: relative;
    top: -25px;
    line-height: 50px;
}

.DATA {
    border: 0px;
    margin: 0px;
    height: 120px;
}

input[name="fn"] {
    line-height: 23px;
    position: relative;
    bottom: 30px;
    left: 13px;
    border-radius: 8px;
    text-transform: capitalize;
}

input[name="ep"],
input[type="passworD"] {
    position: relative;
    bottom: 30px;
    left: 13px;
    top: -23px;
    width: 336px;
    height: 28px;
    text-transform: capitalize;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.w {
    line-height: 10px;
    color: lemonchiffon;
    position: relative;
    left: 11px;
    margin-top: 3px;
}

input[type="DAtE"] {
    position: relative;
    left: 11px;
    margin-top: 0px;
    line-height: 20px;
    border-radius: 8px;
}

span {
    position: relative;
    left: 11px;
    color: lemonchiffon;
    line-height: 40px;
}

input[type="raDio"],
.e,
.r {
    color: lemonchiffon;
    position: relative;
    bottom: -25px;
    left: -64px;
}

input[type="submit"] {
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.t {
    position: relative;
    bottom: -36px;
    left: 15%;
    color: lemonchiffon;
    line-height: 50px;
}

a {
    position: relative;
    bottom: 16px;
    left: 56%;
    color: lemonchiffon;
    line-height: 20px;
}

.sub {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
}

.login {
    margin-top: -50px;
}

@media (max-width: 300px) {
    * {
        font-weight: 700;
        font-size: 15px;
    }

    .create {
        width: 95%;
        height: max-content;
    }

    input[name="fn"] {
        width: 83%;
        height: 50px;
        margin-top: 5px;
    }

    input[name="ep"],
    input[type="password"] {
        width: 83%;
        height: 50px;
        margin-top: 5px;
    }

    .w {
        margin-top: 10rem;
    }

    input[type="date"] {
        width: 83%;
        height: 50px;
    }

    input[type="submit"] {
        width: 21%;
        height: 40px;
        margin-bottom: 60px;
        border-radius: 14px;

    }

    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .t {
        color: lemonchiffon;
        line-height: 50px;
        width: 83%;
        height: 50px;
        left: -5%;
    }

    a {
        color: lemonchiffon;
        line-height: 20px;
        width: 83%;
        height: 50px;
    }

    .gender {
        margin-bottom: 91px;
        display: flex;
        align-items: center;
    }

    input[type="raDio"],
    .e,
    .r {
        color: lemonchiffon;
    }
}
